.profile {
  position: absolute;
  top: 1.813rem;
  left: 1.375rem;
  font-size: 1.25rem;
  letter-spacing: -0.02em;
  display: flex;
  text-align: left;
  align-items: center;
  width: 8.5rem;
  height: 2.5rem;
}
.iconSoFaq {
  position: absolute;
  top: 2.063rem;
  right: 1.75rem;
  width: 2rem;
  height: 2rem;
}
.mines,
.mines1 {
  position: absolute;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mines {
  top: 7.438rem;
  left: calc(50% - 188.5px);
  font-size: 2.813rem;
  font-weight: 900;
  width: 23.5rem;
  height: 5.125rem;
}
.mines1 {
  top: 5.188rem;
  left: calc(50% - 124.5px);
  font-weight: 600;
  width: 15.5rem;
  height: 2.25rem;
}
.groupChild,
.t {
  position: absolute;
  top: calc(50% - 122px);
  left: calc(50% - 121.65px);
  width: 15.206rem;
  height: 15.25rem;
}
.t {
  top: calc(50% - 39px);
  left: calc(50% - 61.95px);
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.713rem;
  height: 4.85rem;
}
.groupParent {
  top: calc(50% - 109.5px);
  left: calc(50% - 121.5px);
  width: 15.206rem;
  height: 15.25rem;
  font-size: 6.25rem;
  color: rgba(0, 0, 0, 0.15);
}
.energyu,
.groupParent,
.menu {
  position: absolute;
}
.energyu {
  bottom: 8.563rem;
  left: calc(50% - 147.5px);
  letter-spacing: -0.02em;
  display: flex;
  text-align: left;
  align-items: center;
  width: 9.75rem;
  height: 1.625rem;
}
.menu {
  bottom: 0;
  left: calc(50% - 166px);
  border-radius: 65px;
  background-color: rgba(107, 107, 107, 0.3);
  width: 20.75rem;
  height: 5.075rem;
}
.boost,
.iconFlash1 {
  position: absolute;
  bottom: 1.825rem;
  left: calc(50% - 11.45px);
  width: 1.444rem;
  height: 1.981rem;
}
.boost {
  bottom: 0.006rem;
  left: calc(50% - 26.55px);
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.319rem;
  height: 1.475rem;
}
.iconFlash1Parent,
.iconUserFriends {
  position: absolute;
  bottom: 0.344rem;
  left: calc(50% + 86.3px);
  width: 3.319rem;
  height: 3.806rem;
}
.iconUserFriends {
  bottom: 1.831rem;
  left: calc(50% - 22.85px);
  width: 2.825rem;
  height: 1.975rem;
}
.friendsParent,
.iconCoins {
  position: absolute;
  bottom: 0.344rem;
  left: calc(50% - 142.8px);
  width: 3.319rem;
  height: 3.806rem;
}
.iconCoins {
  bottom: 1.819rem;
  left: calc(50% - 15.85px);
  width: 1.988rem;
  height: 1.988rem;
}
.menuParent,
.missionsParent {
  position: absolute;
  bottom: 0.344rem;
  left: calc(50% - 26.6px);
  width: 3.319rem;
  height: 3.806rem;
}
.menuParent {
  bottom: 1.925rem;
  left: calc(50% - 166.5px);
  width: 20.75rem;
  height: 5.075rem;
  font-size: 0.625rem;
}
.main {
  width: 100%;
  position: relative;
  background: linear-gradient(198.34deg, #000, #444);
  height: 100%;
  /*height: 41.688rem;*/
  overflow: hidden;
  text-align: center;
  font-size: 1.125rem;
  color: #fff;
  font-family: Inter;
}
