.frameChild {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameParent,
.t {
  flex: 1;
  position: relative;
}
.t {
  letter-spacing: -0.02em;
  line-height: 4.85rem;
  z-index: 1;
}
.frameParent {
  flex-direction: row;
  padding: 5.187rem 3.731rem 5.212rem;
}
.frameParent,
.main,
.mainInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mainInner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 4.125rem;
  text-align: center;
  font-size: 6.25rem;
  color: rgba(0, 0, 0, 0.15);
  font-family: Inter;
}
.main {
  width: 100%;
  position: relative;
  background: linear-gradient(198.34deg, #000, #444);
  overflow: hidden;
  flex-direction: column;
  padding: 1.812rem 0 1.925rem;
  box-sizing: border-box;
  gap: 2.25rem;
  line-height: normal;
  letter-spacing: normal;
}
