.energyu {
    flex: 1;
    position: relative;
    letter-spacing: -0.02em;
}
.energyuWrapper {
    width: 12.125rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0rem 1.187rem;
    box-sizing: border-box;
}
.menu {
    height: 5.075rem;
    width: 20.75rem;
    position: relative;
    border-radius: 65px;
    background-color: rgba(107, 107, 107, 0.3);
    flex-shrink: 0;
    display: none;
    max-width: 100%;
}
.iconUserFriends {
    height: 1.975rem;
    width: 2.825rem;
    position: relative;
    flex-shrink: 0;
    debug_commit: 1de1738;
    z-index: 1;
}
.iconUserFriendsWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0rem 0.25rem 0rem 0.231rem;
}
.friends {
    align-self: stretch;
    height: 1.475rem;
    position: relative;
    letter-spacing: -0.02em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    debug_commit: 1de1738;
    z-index: 1;
}
.frameGroup {
    width: 3.319rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.35rem;
}
.iconCoins {
    height: 1.988rem;
    width: 1.988rem;
    position: relative;
    flex-shrink: 0;
    debug_commit: 1de1738;
    z-index: 1;
}
.iconCoinsWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0rem 0.662rem 0rem 0.687rem;
}
.missions {
    align-self: stretch;
    height: 1.475rem;
    position: relative;
    letter-spacing: -0.02em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    debug_commit: 1de1738;
    z-index: 1;
}
.frameContainer {
    width: 3.319rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0.337rem;
}
.iconFlash1 {
    height: 1.981rem;
    width: 1.444rem;
    position: relative;
    flex-shrink: 0;
    debug_commit: 1de1738;
    z-index: 1;
}
.iconFlash1Wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0rem 0.931rem 0rem 0.937rem;
}
.boost {
    align-self: stretch;
    height: 1.475rem;
    position: relative;
    letter-spacing: -0.02em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    debug_commit: 1de1738;
    z-index: 1;
}
.frameDiv {
    width: 3.319rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0.343rem;
}
.menuParent {
    align-self: stretch;
    border-radius: 65px;
    background-color: rgba(107, 107, 107, 0.3);
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.925rem 1.687rem 0.35rem 1.45rem;
    box-sizing: border-box;
    max-width: 100%;
    gap: 1.25rem;
    text-align: center;
    font-size: 0.625rem;
}
.frameParent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.562rem;
    max-width: 100%;
}
.mainInner {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0rem 1.375rem 0rem 1.312rem;
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: 1.125rem;
    color: #fff;
    font-family: Inter;
}
