.profile {
  margin: 0;
  width: 462px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.icon-so-faq {
  width: 66px;
  height: 66px;
  position: relative;
}
.question-mark-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 23px 0 0;
}
.main-inner,
.profile-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.profile-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.main-inner {
  width: 986px;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 13px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.mines,
.mines-wrapper {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.mines {
  margin: 0;
  width: 616px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  font-weight: 600;
  font-family: inherit;
  align-items: center;
  flex-shrink: 0;
}
.mines-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.mines1 {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 900;
  display: inline-block;
  max-width: 100%;
}
.mines-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 84px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: 110px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
.frame-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-parent,
.main-child,
.t {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.t {
  margin: 0;
  width: 345px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 217px;
  font-weight: 700;
  font-family: inherit;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.frame-parent,
.main-child {
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.frame-parent {
  width: 680px;
  padding: 232px var(--padding-xl) 233px;
  position: relative;
}
.main-child {
  align-self: stretch;
  padding: 0 0 78px;
  text-align: center;
  font-size: 223px;
  color: rgba(0, 0, 0, 0.15);
  font-family: var(--font-inter);
}
.energyu {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  display: inline-block;
  max-width: 100%;
}
.energy-u-i,
.main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.energy-u-i {
  width: 690px;
  flex-direction: row;
  padding: 0 70px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-29xl);
}
.main {
  width: 100%;
  position: relative;
  background: linear-gradient(198.34deg, #000, #444);
  overflow: hidden;
  flex-direction: column;
  padding: 112px 40px;
  gap: 54px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: 50px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 975px) {
  .profile {
    font-size: var(--font-size-19xl);
  }
  .mines {
    font-size: 40px;
  }
  .mines1 {
    font-size: 55px;
  }
  .t {
    font-size: 89px;
    line-height: 130px;
  }
  .main-child {
    padding-bottom: 51px;
    box-sizing: border-box;
  }
  .energyu {
    font-size: var(--font-size-19xl);
  }
}
@media screen and (max-width: 725px) {
  .profile-parent {
    flex-wrap: wrap;
  }
  .frame-parent {
    padding-top: var(--padding-132xl);
    padding-bottom: var(--padding-132xl);
    box-sizing: border-box;
  }
  .energy-u-i {
    padding-left: var(--padding-16xl);
    padding-right: var(--padding-16xl);
    box-sizing: border-box;
  }
  .main {
    gap: 27px;
  }
}
@media screen and (max-width: 450px) {
  .profile {
    font-size: var(--font-size-10xl);
  }

  .mines {
    font-size: 30px;
  }

  .mines1 {
    font-size: 33px;
  }

  .t {
    font-size: 56px;
    line-height: 87px;
  }
}